In [36]:
#String Formatting

a = 21345.6787908765

# print the charcter in a 15 length string right to left (default) 
print(f'[{a:15.4f}]')

# print the charcter in a 15 length string left to right 
print(f'[{a:<15.4f}]')

# print the charcter in a 15 length then puts a * in the empty space
print(f'[{a:*^15.4f}]')
print(f'[{a:*^+15.4f}]')
print(f'[{a:*^+15,.4f}]')
#[[fill]alignment: <>^][sign: +- or space][0][width][grouping ,_][.precision][presentation type]

b = 29
# the ^ is center justified
print(f'[{b:^10d}]')
print(f'[{b:0^10d}]')
print(f'[{b:^10_b}]')
print(f'[{b:^10_X}]')

print(ord('a'))
m = 97
# print the character seen in the ascii table 
print(f'{m:c}')

[print(f'{k:c}', end =", ") for k in range(ord('a'), ord('z')+1)]
alpha_set = {f'{k:c}' for k in range(ord('a'), ord('z')+1)}
print(f'\n{alpha_set}')

[     21345.6788]
[21345.6788     ]
[**21345.6788***]
[**+21345.6788**]
[*+21,345.6788**]
[    29    ]
[0000290000]
[  1_1101  ]
[    1D    ]
97
a
a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z,
{'p', 'q', 'd', 'h', 'e', 'w', 'b', 'm', 'z', 'o', 'n', 'r', 'j', 'c', 'i', 'v', 'l', 's', 'a', 'y', 't', 'u', 'k', 'x', 'g', 'f'}

In [45]:
import random

# plus adds a sign to then value
# print(f'{k:>+4d}')
for k in range(0, 200, 5):
    cur_rand = random.random()
    if (cur_rand >= 0.5):
        print(f'{k:> 4d}')
    else:
        print(f'{-k:> 4d}')

   0
   5
  10
 -15
  20
  25
  30
 -35
  40
 -45
 -50
 -55
 -60
 -65
 -70
  75
  80
  85
  90
  95
 100
-105
 110
 115
-120
 125
 130
-135
 140
 145
 150
 155
 160
-165
 170
 175
-180
-185
-190
 195

In [51]:
a = 21345.6787908765
print('The current number is "{}".'.format(a))

print('The current number is "{:$^15.4f}".'.format(a))

The current number is "21345.6787908765".
The current number is "$$21345.6788$$$".

In [65]:
import random

a = random.random()*1000
b = random.random()/1000
print(f'{a} | {b}')
# string format(a,b) uses index to represent the string output seen as a = 0, b = 1
print('The first  number is "{0:12.8f}".\nThe second number is "{1:12.8f}".\nFirst Number:{0:15.9e}'.format(a,b))
print('The first  number is "{first:12.8f}".\nThe second number is "{last:12.8f}".\nFirst Number:{first:15.9e}'.format(first=a,last=b))
#print("The first number is {:.8e}.\nThe second number is {:.8e}.".format(a,b))

269.59331799274844 | 0.0002742011140265055
The first  number is "269.59331799".
The second number is "  0.00027420".
First Number:2.695933180e+02
The first  number is "269.59331799".
The second number is "  0.00027420".
First Number:2.695933180e+02

In [71]:
my_str = "to rain or not to rain that is the rainy question"
for cur_char in my_str:
    print(cur_char, end=' * ')

my_list = list(my_str)
print(my_list)
print(my_str[3:9])

# strings are immutable

t * o *   * r * a * i * n *   * n * o * t *   * t * o *   * r * a * i * n *   * t * h * a * t *   * i * s *   * t * h * e *   * r * a * i * n * y *   * q * u * e * s * t * i * o * n * ['t', 'o', ' ', 'r', 'a', 'i', 'n', ' ', 'n', 'o', 't', ' ', 't', 'o', ' ', 'r', 'a', 'i', 'n', ' ', 't', 'h', 'a', 't', ' ', 'i', 's', ' ', 't', 'h', 'e', ' ', 'r', 'a', 'i', 'n', 'y', ' ', 'q', 'u', 'e', 's', 't', 'i', 'o', 'n']
rain n

In [78]:
first_name = 'Alice'
last_name = 'Smith'

name = first_name + last_name
first_name += ' ' + last_name
print(first_name)
seperator = '>'
name = first_name + " " + seperator*10 + " " + last_name
print(name)

Alice Smith
Alice Smith >>>>>>>>>> Smith

In [82]:
my_str1 = "to rAin or not to Rain tHat is the rainy Question"
my_str2 = my_str1.lower()
print(f'{my_str1}\n{my_str2}')

# converts all first letter every word to be upper case
my_str2 = my_str1.title()
print(f'{my_str1} | {my_str2}')

# converts only the first letter of the first word to be upper case
my_str2 = my_str1.capitalize()
print(f'{my_str1} | {my_str2}')

to rAin or not to Rain tHat is the rainy Question
to rain or not to rain that is the rainy question
to rAin or not to Rain tHat is the rainy Question | To Rain Or Not To Rain That Is The Rainy Question
to rAin or not to Rain tHat is the rainy Question | To rain or not to rain that is the rainy question

In [95]:
my_str1 = "to rain or not to Rain tHat is the rainy Question"

print(my_str1.count('to'))
# can add start and end points to where to search 
print(my_str1.count('to', 2, 15))

# returns the index of the first occurance of the word starting at the 
# start of the whole string
print(my_str1.index('rain'))
print(my_str1.index('rain', 4, 40))

# returns the index of the first occurance of the word starting at the 
# end of the whole string
print(my_str1.rindex('rain'))

#produces index of where the word is in the string
# returns -1 if the word is not in the string
print(my_str1.find('ball'))

2
0
3
35
35
-1

In [108]:
my_str1 = "to rain or not to Rain tHat is the rainy Question"

# split converts the str into a token that is then inputs the token as an element in a list 
lst_str = my_str1.split()
lst_str = my_str1.rsplit()
print(lst_str)

# controls the amount of splits
# do two splits then the rest of the the string in the last element of the list
lst_str = my_str1.split(' ', 2)
print(lst_str)

lst_str = my_str1.split('to')
print(lst_str)

['to', 'rain', 'or', 'not', 'to', 'Rain', 'tHat', 'is', 'the', 'rainy', 'Question']
['to', 'rain', 'or not to Rain tHat is the rainy Question']
['', ' rain or not ', ' Rain tHat is the rainy Question']

In [104]:
num_str = '23, 34, 45, 32, 12'

num_list = num_str.split(", ")
print(num_list)

num_list = [float(cur_num) for cur_num in num_list]
print(num_list)

['23', '34', '45', '32', '12']

In [111]:
num_list = [str(k) for k in range(10)]
print(num_list)

num_str = '*'.join(tuple(num_list))
print(num_str)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
0*1*2*3*4*5*6*7*8*9

In [117]:
num_str = '23, 34, 45, 32, 12'

num_str_updated = num_str.replace(', ', '_,_')
print(f'{num_str} | {num_str_updated}')

# max amount of replacements 
num_str_updated = num_str.replace(', ', '_,_', 2)
print(f'{num_str} | {num_str_updated}')

23, 34, 45, 32, 12 | 23_,_34_,_45_,_32_,_12
23, 34, 45, 32, 12 | 23_,_34_,_45, 32, 12

In [129]:
name1 = "Alice"
name1_grade = [2.2, 3.4, 2.9]
name2 = "Bob"
name2_grade = [3.2, 3.4, 4.9]
name3 = "Morgan"
name3_grade = [5.2, 5.4, 2.1]


str1 = f'{name1} | {name1_grade} | {name2} | {name2_grade} | {name3} | {name3_grade}'
str1 = "Alice: [2.2, 3.4, 2.9] | Bob: [3.2, 3.4, 4.9] | Morgan: [3.2, 3.4, 4.9]"

student_list = str1.split(' | ')

for cur_student in student_list:
    current_student_list = cur_student.split(': ')
    cur_grades = current_student_list[-1][1:-1].split(", ")
    cur_grades = [float(cur_grade) for cur_grade in cur_grades]
    print(cur_grades)

[2.2, 3.4, 2.9]
[3.2, 3.4, 4.9]
[3.2, 3.4, 4.9]